<html>
<head>
  <title>Our Heros!</title> 
</head>

<body>
<h1>Who is your favorite Avenger?</h1>
<img src="http://i.imgur.com/4xhisCM.jpg"/>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX2U2QppPwQMo11uwUxUrrXG_R9SbTamGaUSxNIvLK0E2-QdkcGg"/>  
</body>

<body>
<head>
<title>Choose wisely</title>
</head>
<p><a href="https://serene-woodland-3440.herokuapp.com/Bruce_Banner.txt">is it Bruce Banner?</a></p>
<p><a href="https://serene-woodland-3440.herokuapp.com/Clint_Barton.txt">is it Clint Barton?</a></p>
<p><a href="https://serene-woodland-3440.herokuapp.com/Natasha_Romanoff.txt">is it Natasha Romanoff?</a></p>
<p><a href="https://serene-woodland-3440.herokuapp.com/Steve_Rogers.txt">is it Steve Rogers?</a></p>
<p><a href="https://serene-woodland-3440.herokuapp.com/Thor_Odinson.txt">is it Thor Odinson?</a></p>
<p><a href="https://serene-woodland-3440.herokuapp.com/Tony_Stark.txt">or is it Tony Stark?</a></p>
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</body>

<p>Tony Stark: The Avengers. It's what we call ourselves. Sorta like a team. Earth's Mightiest Heroes type thing.</p>
<p>Loki: Yes. I've met them</p>
<p>Tony Stark: Yeah, takes us a while to get any traction I'll give you that one. But let's do a head count here. 
Your brother, the demigod. A super soldier, living legend who kinda lives up to the legend.
A man with breathtaking anger management issues. A couple of master assassins and YOU, big fella, you've managed to piss off every single one of them.</p>
<p>Loki: That was the plan.</p>
<p>Tony Stark: Not a great plan.</p>

</html>
